<footer>
  <div class="d-flex justify-content-center justify-content-around">
      <p class="pt-1">&copy; Ahmed - <%= new Date().getFullYear(); %></p>
      <div class="d-flex justify-content-around">
          <a class="mx-2" href="https://wa.me/+201066078954" target="_blank">
              <img src="./images/whatsapp.png" height="30" width="30" />
          </a>
          <a class="mx-2" href="tel:+201066078954">
              <img src="./images/call.png" height="30" width="30" />
          </a>
      </div>
  </div>
</footer>



<script src="js/bootstrap.bundle.min.js"></script>

</body>
</html>