<nav class='navbar navbar-expand-md fixed-top customnav' arial-label='navigation bar'>
    <div class='container'>
        <a class="navbar-brand" href="/">
            <img src="images/logo.png" alt="Bootstrap" width="40" height="40">
        </a>
        <button class='navbar-toggler' type='button' data-bs-toggle='collapse' data-bs-target='#navbarApp'
            aria-controls='navbarApp' aria-expanded='false' aria-label='Toggle navigation'>
            <span class='navbar-toggler-icon' />
        </button>

        <div class='collapse navbar-collapse' id='navbarApp'>
            <ul class='navbar-nav ms-auto'>
                <li class='customnavlist'>
                    <a href='/about' class='nav-link customnavlink'>
                        <span class='activelink'>
                            About
                        </span>
                    </a>
                </li>
                <li class='customnavlist'>
                    <a href='/works' class='nav-link customnavlink'>
                        <span class='activelink'>
                            Works
                        </span>
                    </a>
                </li>
                <li class='customnavlist'>
                    <a href='/snippets' class='nav-link customnavlink'>
                        <span class='activelink'>
                            Snippets
                        </span>
                    </a>
                </li>
                <li class='customnavlist'>
                    <a href='/contact' class='nav-link customnavlink'>
                        <span class='activelink'>
                            Contact
                        </span>

                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>