<%- include('../partials/head') %> <%- include('../partials/navbar') %>

<header>
  <h4 class="greeting">Peace and Allah's mercy and blessings be upon you</h4>
  <div class="img-header">
    <img class="img-fluid" src="./images/header.png" />
  </div>
</header>
<section>React</section>
<%- include('../partials/footer') %>
