<%- include('../partials/head') %> <%- include('../partials/navbar') %>

<header>
  <h4 class="greeting">Peace and Allah's mercy and blessings be upon you</h4>
  <div class="img-header">
    <img class="img-fluid" src="./images/header.png" />
  </div>
</header>
<section class="latest-works">
  <h2 class="text-center p-5">Latest Works</h2>
  <div class="container">
    <div class="works-card">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <div class="align-self-center">Project name</div>
          <div class="align-self-center">completed</div>
          <div class="align-self-center">
            <button class="button-visit align-self-center">Live</button>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
<%- include('../partials/footer') %>
