<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<main class="container p-3">
  <h3 class="text-center">بسم الله الرحمن الرحيم</h3>

  <hr />
  <p>Ahmed</p>
  <div style="height: 400px"></div>
</main>

<%- include('../partials/footer') %>
