<%- include('../partials/head') %> <%- include('../partials/navbar') %>

<div class="landing">
  <div class="container">
    <div class="info">
      <h2 class="name">Ahmed Abdelfattah</h2>
      <h3 class="job">Frontend developer</h3>
    </div>
    <div class="image">
      <img src="./images/header.png" alt="" />
    </div>
  </div>
</div>

<div class="latest-works">
  <div class="container">
    <h2 class="pb-2">Latest Works</h2>
    <div class="works-card">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <h5 class="work-ar">السيرة النبوية</h5>

          <a
            href="https://play.google.com/store/apps/details?id=com.seira.seiranabawayaa"
            target="_blank"
            ><button class="button-live">Live</button></a
          >
        </li>
        <p class="line-break"></p>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <h5 class="work-ar">ثواب</h5>

          <a
            href="https://play.google.com/store/apps/details?id=com.crevedweb.thwab"
            target="_blank"
            ><button class="button-live">Live</button></a
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h2 class="text-center p-4 mt-3">Technologies and Tools</h2>
  <div class="tech">
    <img src="./images/react.svg" class="" height="70" width="70" />
    <img src="./images/next-js.svg" height="70" width="70" />
    <img src="./images/bootstrap.svg" height="70" width="70" />
    <img src="./images/react-query.svg" class="" height="70" width="70" />
    <img src="./images/node.svg" height="70" width="70" />
    <img src="./images/mongo.svg" height="70" width="70" />
    <img src="./images/vite.svg" height="70" width="70" />
    <img src="./images/postman.svg" height="70" width="70" />
    <img src="./images/swagger.svg" height="70" width="70" />
    <img src="./images/flutter.svg" height="70" width="70" />
  </div>
</div>

<%- include('../partials/footer') %>
