<%- include('../partials/head') %> <%- include('../partials/navbar') %>

<div class="landing">
  <div class="container">
    <div class="info">
      <h3>Ahmed Abdelfattah</h3>
      <h5 class="job">Frontend developer</h5>
    </div>
    <div class="image">
      <img src="./images/header.png" alt="" />
    </div>
  </div>
</div>

<div class="latest-works">
  <div class="container">
    <h4 class="pb-2">Latest Works</h4>
    <div class="works-card">
      <ul class="list-group">
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <h4 class="work-ar">السيرة النبوية</h4>
          <h5>
            <a
              href="https://play.google.com/store/apps/details?id=com.seira.seiranabawayaa"
              target="_blank"
              ><button class="button-visit">Live</button></a
            >
          </h5>
        </li>
        <p class="line-break"></p>
        <li
          class="list-group-item d-flex justify-content-between align-items-center"
        >
          <h4 class="work-ar">ثواب</h4>
          <h5>
            <a
              href="https://play.google.com/store/apps/details?id=com.crevedweb.thwab"
              target="_blank"
              ><button class="button-visit">Live</button></a
            >
          </h5>
        </li>

        <p class="line-break"></p>
      </ul>
    </div>
  </div>
</div>

<div class="container-fluid">
  <h3 class="text-center p-5 mt-5">Technologies</h3>
  <div class="tech">
    <img src="./images/react.png" class="" height="70" width="70" />
    <img src="./images/next.png" height="70" width="70" />
    <img src="./images/node.png" height="70" width="70" />
    <img src="./images/mongo.png" height="70" width="70" />
    <img src="./images/bootstrap.png" height="70" width="70" />
    <img src="./images/laravel.png" height="70" width="70" />
    <img src="./images/flutter.png" height="70" width="70" />
  </div>
</div>

<%- include('../partials/footer') %>
