<%- include('../partials/head') %> <%- include('../partials/navbar') %>
<section class="text-center p-5">
  <div class="spaceH"></div>
  <h2 class="text-white">
    The message has been sent
    <span
      style="
        background-color: white;
        color: rgb(5, 175, 5);
        border-radius: 2px;
        padding: 0 5px;
      "
      >successfully</span
    >
  </h2>
  <b class="text-white"><h4 class="pt-4">Welcome Any Time...</h4></b>
  <a href="/"> <button class="button-send">Back</button></a>
</section>
